<div class="container-fluid">
	<div id="ingredientModule" class="col-md-6 border">
		<h2 class="ingredientsModuleTitle">Ingredients</h2>
		<ul id="ingredients">
				<li class=ingredientsHeader>
					<h3 class="name-col">Name</h3>
					<h3 class="abv-col">ABV</h3>
					<h3 class="volume-col">Volume</h3>
					<h3 class="unit-col">Unit</h3>
				</li>

			<div class="additionalIngredients">
				<%= form_tag "/recipe", remote: true, method: 'GET' do%>
					<% 3.times do%>
						<%= render 'ingredient_form' %>
					<%end%>
					<%=submit_tag "Calculate", class: "btn btn-primary calculateButton"%>
				<%end%>

			</div>

			<button class="btn btn-success" id="addIngredientButton">+</button>
		</ul>

		<div class="ingredientsOptions">
		    <label class="radio-inline">
		      	<input type="radio" name="buildMethod">Stirred
		    </label>
		    <label class="radio-inline">
		      	<input type="radio" name="buildMethod">Shaken
		    </label>
		    <label class="radio-inline">
		      	<input type="radio" name="buildMethod">Built
		    </label>
		    <label class="radio-inline">
		      	<input type="radio" name="buildMethod">Carbonated
		    </label>
			<label class="checkbox-inline autoDiluteCheck">
				<input type="checkbox" name="autoDilute">Auto-Dilute
			</label>		
		</div>

		<div class="ingredientsControls">
			<button class="btn btn-primary resetButton">
				Reset
			</button>
			<button class="btn btn-primary calculateButton">
				Calculate
			</button>
		</div> 
	</div>
	<div id="statsModule" class="col-md-6 border">
		<h1>Stats</h1>
	</div>
	<div id="batchesModule" class="col-md-6 border">
		<h1>Batches</h1>
	</div>
	<div id="recipeModule" class="col-md-6 border">
		<h1>Recipe</h1>
	</div>
</div>


