<h1><%=@user.email%></h1>
<%if @recipes.length == 0%>
	<h3>This user has no saved recipes</h3>
<%end%>
<% @recipes.each do |recipe|%>
	<%= render partial: 'single_recipe', locals: {recipe: recipe, user: @user}%>
<% end %>