// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.single-recipe {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-shrink: 0;
}